* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:capitalize;
}
.header {
    width: 100% ;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0 ;
    z-index: 1000;
}
.links {
    list-style: none;
    float: right ;
    margin-right: 90px;
}
 .links   li {
    display: inline-block ;
    color: #fff;
    margin-left: 25px;
    position: relative;
    margin-top: 20px ;
    display: inline-block;
}
 .links   li   a  {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 5px 10px;
}
.links li a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(109, 109, 255);
    opacity: 0;
}
.links li a:hover::after{
    width: 100%;
    height: 10%;
    opacity: 1;
    transition: 0.5s;
}
.drob{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    list-style: none;
    margin:22px 0px 0px -20px;
    padding: 0;
    width: 115px;
    height: 125px;   
}
.drob li{
    float: none;
}
.drob li a {
    padding: 5px;
    display: block;
    margin:-10px 0px 0px -13px;
    color: #000000;
    position: relative;  
}
.drob li a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(109, 109, 255);
    opacity: 0;
}
.drob li a:hover::after{
    width: 100%;
    height: 10%;
    opacity: 1;
    transition: 0.5s;
}
.links li:hover .drob{
    display: block;
}
.header-icons{
    font-size: 24px;
    color: #fff;
    margin: 15px 0px 0px 20px;
}
.header-inp{
    display: inline-block;
    position: relative;
}
[type="text"]{
    margin-left: 18px;
    border-radius: 20px;
    width: 230px;
    height: 30px;
}
.header-i2{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.home {
    width: 100%;
    height: 100vh ;    
    background-image: url(../Images/photo-12.jpg);
    background-size: cover;
    position: relative;
}
.home-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 , 0.2);
}
.home-content {
    width: 50%;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: yellow;
    text-align: center;
}
.home-title {
    font-size: 47px;
    text-transform: uppercase;
}
.home-p {
    color: #fff;
    letter-spacing: 1.5px;
    margin: 15px  0px;
}
.home-btn {
    width: 130px;
    padding: 16px  0px;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.home-btn2 {
    background-color:#212529;
    color: #fff;
    margin-left: 12px;
}
.home-btn:hover {
    opacity: 0.5 ;
}
/* ///////////////////////////////////////////////////////////   section2   /////////////////////////////////////////////////////////// */
.section2{
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
}
.hero-title {
    text-align: center;
   padding-top: 100px;
   font-size: 42px;
}
.hero-space{
    width: 70px;
    height: 2px;
    background-color: blue;
    margin: auto;
    margin-top: 5px;
}
.website-container{
    width: 80%;
    margin: auto;
}
.website-parent{
   overflow: auto;
   margin-top: 100px;
}
.website-div{
    width: 30%;
    height: 245px;
    border: 1px solid gray;
    border-radius: 10px;
    float: left;
    text-align: center;
    padding-top: 20px;
    background-color: #edfcff;
    color: black;
    font-size: 45px;
    position: relative;
}
.website-div::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: black;
    opacity: 1;
}
.website-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.8s;
}
.website-div2{
    margin: 0px 5%;
}
.website-icons {
    padding-top: 5px;
}
.website-title2{
    margin-top: 20px;
    font-size: 30px;
}
.website-p{
    margin-top: 15px;
    padding: 5px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 17px;
    margin-bottom: 20px;
}
.website-icons1{
    color: #3498db;
}
.website-icons2{
    color: #27ae60;
}
.website-icons3{
    color: #e67e22;
}
.website-a{
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 17px;
    color: blue;
    text-decoration: none;
    position: absolute;
    margin-left: -45px;
    z-index: 20;
}
/* ///////////////////////////////////////////////////////////   section3   /////////////////////////////////////////////////////////// */
.section3 {
  width: 100%;
  height: 100vh;
  background-color: #e9ecef;
}
.works-container {
  width: 70%;
  margin: auto;
}
.works-parent {
  margin-top: 50px;
  overflow: auto;
}
.works-div {
  width: 30%;        
  height: 180px;
  float: left;
  margin: 1.66%;     
  background: #ddd; 
  position: relative;
  overflow: hidden;
}
.works-img {
  width: 100%;
  height:180px;
  display: block;
  position: relative;
  z-index: 1;
}
.works-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}
.works-div:hover::after {
  opacity: 1;
}

.works-icon{
    width: 60%;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #d0d5d5;
    text-align: center;
    visibility: hidden; 
    z-index: 3; 
}
.works-div:hover .works-icon{
    visibility:visible ;
}
.works-title{
    margin-top: -3px;
    font-size: 21px;
}
.works-p{
    margin: 30px 0px;
    font-size: 18px;
}
.works-i1{
    color: #333;
    padding-top: 6px;
    display: inline;
    font-size: 23px;
    width: 40px;
    height: 35px;
    background-color: #dbdfe0;
    border-radius: 10px;
}
/* ///////////////////////////////////////////////////////////   section4   /////////////////////////////////////////////////////////// */
.section4{
    width: 100%;
    height: 100vh;
    background-color: #dee2e6;
}
.offer-container{
    width: 80%;
    margin: auto;
}
.offer-parent {
  margin-top: 50px;
  overflow: auto;
}
.offer-div{
    width: 30%;
    height: 200px;
    margin: 20px 0px;
    float: left;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.offer-title{
    display: inline;
    margin-left: 10px;
    font-size: 29px;
}
.offer-p{
    padding: 40px 20px; 
    font-size: 18px; 
}
.offer-div::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}
.offer-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.8s;
}
.offer-div2{
    margin: 20px 5%;
}
.offer-div i {
    font-size: 26px;
}
.offer-icon1,.offer-icon5,.offer-icon6{
    color: #3700fe;
}
.offer-icon2{
    color: #cf6101;
}
.offer-icon3,.offer-icon4{
   color: #006efe;
}
/* ///////////////////////////////////////////////////////////   section5   /////////////////////////////////////////////////////////// */
.section5{
    width: 100%;
    height: 100vh;
    background-color: #ced4da;
}
.Academy-parent {
    padding: 190px 50px;
    overflow: hidden;
}
.Academy-left {
    width: 50%;
    float: left;
    padding: 40px;
}
.Academy-left h2 {
    font-size: 32px;
    color: #0A3D62;
}
.Academy-space{
    width: 60px;
    height: 3px;
    background-color: blue;
    margin-left: 3px;
    margin-top: 8px;
    margin-bottom: 25px;
}
.Academy-left p {
    margin-bottom: 20px;
    font-size: 21px;
}
.Academy-left span {
    display: block;
    margin: 6px 0;
    color: #333;
    font-size: 20px;
}
.Academy-left i {
    color: green;
    margin-right: 8px;
    font-size: 27px;
}
.Academy-right {
    margin-top: 45px;
    width: 50%;
    float: left;
    text-align: center;
}
.Academy-right img {
    border-radius: 8px;
    width: 350px;
    height:300px;
}
.circles {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}
#circles1{
    background-color: #1a1a1a;
}
.circles li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
}
.circles li:hover{
    background-color: #1a1a1a;
}
/* ///////////////////////////////////////////////////////////   section6   /////////////////////////////////////////////////////////// */
.section6 {
    width: 100%;
    margin-top: -20%;
    position: relative;
}
.section6-img {
    background-image: url(../Images/eee.jpeg);
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 20%;
}
.section6-img::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.stat-box {
    display: inline-block;
    padding-top: 180px;
    margin: 0px 120px ;
    font-size: 23px;
    position: relative;
    z-index: 2;
}
.stat-box i {
    font-size: 50px;
    margin-bottom: 10px;
    display: block;
    color:#FFD700;
} 
/* ///////////////////////////////////////////////////////////   section7   /////////////////////////////////////////////////////////// */
.section7{
    width: 100%;
    height: 100vh;
    background-color: #adb5bd;
}
.table-container{
    width: 70%;
    margin: auto;
}
.table-parent{
    position: relative;
    margin-top: 50px;   
}
.table-div{
    width: 30%;
    height: 435px;
    float: left;
    text-align: center;
    border: 1px solid rgb(152, 166, 167);  
    border-radius: 10px;
    position: relative;
}
.table-div::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}
.table-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.8s;
}
.table-bor{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid  rgb(38, 59, 58);
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.div2{
    margin: 0px 5%;
}
.p1{
    padding:  20px;
    font-size: 27px;
}
.s1{
    font-size: 17px;
    line-height: 25px;
}
.tit{
    padding-top:  25px;
    font-size: 19px;
}
.table-p{
    margin: 25px 0px;
    font-size: 17px;
}
.but{
    width: 130px;
    height: 30px;
    background-color: #212529;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
}
/* ///////////////////////////////////////////////////////////   section8   /////////////////////////////////////////////////////////// */
.section8 {
    width: 100%;
    height: 100vh;
    background-color: #6c757d;
    padding-top: 25vh;
}

.testimonial-parent{
    background: url('../Images/photo-6.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    color: #fff;
}
.section8 .overlay {
    background: rgba(0,0,0,0.9); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 110px;
}

.testimonial {
    width: 40%;
    float: left;
    margin: 0 5%;
    color: #fff;
}

.client-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.client-name {
    font-size: 22px;
    font-weight: bold;
}

.client-job {
    display: block;
    font-size: 16px;
    color: #3498db;
    margin-bottom: 15px;
}

.client-text {
    font-size: 15px;
    line-height:1.6;
}
/* ///////////////////////////////////////////////////////////   section9   /////////////////////////////////////////////////////////// */
.section9{
    width: 100%;
    height: 100vh;
    background-color: #495057;
}
.team-container {
    width: 80%;
    margin: auto;
}
.team-parent{
    margin-top: 100px;
}
.team-item {
    background-color: rgb(193, 193, 193);
    float: left;
    width: 30%;
    padding: 18px  14px;
    text-align: center;
    position: relative;
}
.team-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.8s;
}
.team-item-2 {
    margin: 0px  5%;
}
.team-img {
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img  img {
    width: 100%;
}
.team-icons {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0 , 0.5);
    visibility: hidden;
}
.team-item:hover   .team-icons {
    visibility: visible;
}
.team-icons  a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(3, 238, 255);
    color: #fff;
    margin-left: auto ; 
}
.team-icons  a  i  {
    line-height: 40px;
    position: absolute;
    z-index: 1;
}
.team-info-title {
    color: rgb(75, 75, 75);
    text-transform: capitalize;
    margin: 10px  0px;
}
.team-info-p {
     color: rgb(156, 156, 156);
     text-transform: uppercase;
}
.team-item:hover   .team-info-title {
    color: #fff;
}
.team-item:hover   .team-info-p {
    color: blue
}
/* ///////////////////////////////////////////////////////////   section10   /////////////////////////////////////////////////////////// */
.section10{
    width: 100%;
    height: 100vh;
    background-color: #343a40;
}
.News-container{
    width: 70%;
    margin: auto;
}
.News-parent{
    margin-top: 50PX;
}
.News-div{
    float: left;
    width: 30%;
    height: 410px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 18px 16px;
    text-align: center;
    position: relative;
}
.News-div::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: black;
    opacity: 0;
}
.News-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.8s;
}
.News-div:hover{
    color: #fff;
}
.News-div-2{
    margin: 0px 5%;
}.News-img{
    width: 100%;
    margin: auto;
}
.News-img img{
    width: 80%;
    border-radius: 10px;
}
.News-fi{
    font-size: 19px;
    color: #314edc;
    margin: 15px 0px 0px 20px;
}
.News-fi1{
    margin-left: -9px;
}
.News-info-title{
    padding: 10px 0px ;
}
.News-info-p{
    line-height: 20px;
    margin-bottom: 15px;
}
.sp1{
    text-transform: lowercase;
}
.News-info a{
    text-decoration: unset;
    color: #002ffe;
    position: absolute;
    margin-left: -45px;
    z-index: 20;
}
/* ///////////////////////////////////////////////////////////   section11   /////////////////////////////////////////////////////////// */
.section11{
    width: 100%;
    height: 45vh;
    background-color: #161a1d;
}
.section11-parent{
    position: relative;
}
.section11-div{
    text-align: center;
    padding-top: 20px;
}
.section11-fi{
    margin: 15px 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5b6aef;
    font-size: 23px;
    color: #ddd;
    padding-top: 13px;
}
.section11-fi:hover{
    background-color: #0d1fde;
}
.section11-div img{
    border-radius: 10px;
}
.footer { 
  color: #ffffff;      
  text-align: center;      
  font-size: 16px;      
  font-family: Arial,sans-serif;
}